#app{
    font:14px;
    min-width: 550px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-main a, .nav-main a:hover {
    text-decoration: none;
    color: #777;
}

a.active{
    color:orange;
}

span.delete-action {
    cursor: pointer;
}